---
import Icon from "astro-iconify";
const { precio_anterior } = Astro.props;
---
<div class="card-servicio w-full">
    <div>
        <img src="/img/carousel_1.webp" alt="">
    </div>
    <div class="info-servicio">
        <span>$1800</span>
        <h2>$1440</h2>
        <h4>Acido Glicólico + Radiofrecuencia Facial </h4>
        <p>Lorem ipsum dolor sit amet consectetur. Ultrices cras et duis leo. In porttitor lacus lectus viverra ut molestie.</p>
        <div class="btn-group mt-5">
            <button class="btn1" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Conocer mas
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <button class="btn2">Agenda Cita</button>
        </div>
        
    </div>
</div>

<style>
    .card-servicio {
		height: auto;
		border-radius: 16px;
		background-color: #fff;
		box-shadow: 0px 0px 20px 5px #f3f3f3;
	}
	.card-servicio img {
		border-radius: 16px 16px 0px 0px;
	}
	.info-servicio {
		padding: 15px;
	}
	.info-servicio span {
		color: #95d2b3;
		opacity: 0.8;
		text-decoration: line-through;
	}
	.info-servicio h2 {
		color: #95d2b3;
        font-size: 30px;
        font-weight: 500;
	}
    .info-servicio h4 {
		color: #252422;
        font-size: 20px;
        font-weight: 500;
	}
    .info-servicio p {
		color: #252422;
        font-size: 14px;
        font-weight: 300;
	}
    .info-servicio .btn-group {
		display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
	}
    .info-servicio .btn-group .btn1 {
        border-radius: 999px;
        border: solid 1px #95d2b3;
        width: 40px;
        height: 40px;
        padding: 7px;
        color: #95d2b3;
    }
    .info-servicio .btn-group .btn2 {
        border-radius: 999px;
        background-color: #95d2b3;
        height: 40px;
        color: #fff !important;
        font-size: 15px;
        font-weight: 300;
        padding-inline: 12px;
        color: #95d2b3;
    }
    button, a {
        transition: all 0.2s ease-in-out !important;
    }
    button:active, a:active {
        transform: scale(0.95) !important;
    }
</style>