---
import Icon from "astro-iconify";
---

<section id="servicios" class="scroll-mt-20">
    <div class="w-full text-center mt-10 duration-[1000ms] [animation-iteration-count:infinite] taos:opacity-0">
        <h1 data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom" class="text-3xl text-dark-custom font-bold">Servicios</h1>
    </div>
    

<div class="mt-5 ps-5">
    <ul data-aos="zoom-in" data-aos-anchor-placement="bottom-bottom" class="flex flex-wrap -mb-px text-sm font-medium text-center tabs-mod" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block btn-filtro-servicio active" id="promociones-tab" data-tabs-target="#promociones" type="button" role="tab" aria-controls="promociones" aria-selected="false">Promociones</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block btn-filtro-servicio" id="paquetes-tab" data-tabs-target="#paquetes" type="button" role="tab" aria-controls="paquetes" aria-selected="false">Paquetes</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block btn-filtro-servicio" id="micropigmentación-tab" data-tabs-target="#micropigmentación" type="button" role="tab" aria-controls="micropigmentación" aria-selected="false">Micropigmentación</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block btn-filtro-servicio" id="acidoglicolico-tab" data-tabs-target="#acidoglicolico" type="button" role="tab" aria-controls="acidoglicolico" aria-selected="false">Acido Glicolico</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block btn-filtro-servicio" id="frecuenciafacial-tab" data-tabs-target="#frecuenciafacial" type="button" role="tab" aria-controls="frecuenciafacial" aria-selected="false">Frecuencia Facial</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block btn-filtro-servicio" id="dermapen-tab" data-tabs-target="#dermapen" type="button" role="tab" aria-controls="dermapen" aria-selected="false">Dermapen</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block btn-filtro-servicio" id="reducciondetallas-tab" data-tabs-target="#reducciondetallas" type="button" role="tab" aria-controls="reducciondetallas" aria-selected="false">Reduccion de Tallas</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block btn-filtro-servicio" id="nanoplastia-tab" data-tabs-target="#nanoplastia" type="button" role="tab" aria-controls="nanoplastia" aria-selected="false">Nanoplastia</button>
        </li>
    </ul>
</div>
<div id="default-tab-content">
    <div class="hidden pt-3 px-5" id="promociones" role="tabpanel" aria-labelledby="promociones-tab">
        <div class="md:flex md:flex-row md:flex-wrap">
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/gallery1.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1900</span>
                        <h2>$1300</h2>
                        <h4 class="nombre">Full Lips</h4>
                        <p class="block-with-text descripcion">La micropigmentación de labios se utiliza para mejorar la forma, el color y el contorno de los labios. Corrige asimetrías o labios que parecen poco definidos. Aumentan el volumen. A través de la técnica de sombreado y resaltado, se crea la ilusión de labios más voluminosos y carnosos.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Full%20Lips*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/gallery3.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1600</span>
                        <h2>$1200</h2>
                        <h4 class="nombre">Power Brows</h4>
                        <p class="block-with-text descripcion">
                            Es una técnica avanzada de micropigmentación que ofrece un efecto de sombreado suave y natural, similar al maquillaje en polvo.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Power%20Brows*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-0 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/gallery7.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1300</span>
                        <h2>$900</h2>
                        <h4 class="nombre">Realce de pestañas</h4>
                        <p class="block-with-text descripcion">Técnica de maquillaje semipermanente por medio de la cual se depositan pigmentos en el párpado, recreando el delineado de ojos o, incluso, un sombreado.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 insvisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Realce%20de%20Pestañas*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden pt-3 px-5" id="paquetes" role="tabpanel" aria-labelledby="paquetes-tab">
        <div class="md:flex md:flex-row md:flex-wrap">
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/acidoglicolico1.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$3270</span>
                        <h2>$2626</h2>
                        <h4 class="nombre">Acido Glicolico + Radiofrecuencia Facial - 14 Sesiones (7 + 7)</h4>
                        <p class="block-with-text descripcion">Ayuda a la hiperpigmentación, las quemaduras solares, reduce las líneas de expresión, arrugas, manchas y le devuelve la luminosidad al rostro. El ácido glicólico corrige los problemas de la piel favoreciendo la renovación celular de las capas superiores de esta a través de la exfoliación. Ayuda frente a la sequedad de la piel, el eczema y la psoriasis, así como también, las verrugas, la piel áspera y la rosácea. Restructura el colágeno profundamente y aumentar la circulación sanguínea, produce una mayor elasticidad de los tejidos y una mejora de la estructura cutánea, la firmeza y las arrugas. Activa el colágeno y ayuda a eliminar las arrugas y la flacidez. La piel se vuelve más tersa y suave. ¡Es el lifting sin cirugía!</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Acido%20Glicolico%20y%20Radiofrecuencia%20Facial%20-%2014%20Sesiones%20(7%20y%207)*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/acidoglicolico2.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$2590</span>
                        <h2>$2072</h2>
                        <h4 class="nombre">Acido Glicolico + Radiofrecuencia Facial - 10 Sesiones (5 + 5)</h4>
                        <p class="block-with-text descripcion">Ayuda a la hiperpigmentación, las quemaduras solares, reduce las líneas de expresión, arrugas, manchas y le devuelve la luminosidad al rostro. El ácido glicólico corrige los problemas de la piel favoreciendo la renovación celular de las capas superiores de esta a través de la exfoliación. Ayuda frente a la sequedad de la piel, el eczema y la psoriasis, así como también, las verrugas, la piel áspera y la rosácea. Restructura el colágeno profundamente y aumentar la circulación sanguínea, produce una mayor elasticidad de los tejidos y una mejora de la estructura cutánea, la firmeza y las arrugas. Activa el colágeno y ayuda a eliminar las arrugas y la flacidez. La piel se vuelve más tersa y suave. ¡Es el lifting sin cirugía!</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Acido%20Glicolico%20y%20Radiofrecuencia%20Facial%20-%2010%20Sesiones%20(5%20y%205)*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/acidoglicolico3.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1773</span>
                        <h2>$1418</h2>
                        <h4 class="nombre">Acido Glicolico + Radiofrecuencia Facial - 6 Sesiones (3 + 3)</h4>
                        <p class="block-with-text descripcion">Ayuda a la hiperpigmentación, las quemaduras solares, reduce las líneas de expresión, arrugas, manchas y le devuelve la luminosidad al rostro. El ácido glicólico corrige los problemas de la piel favoreciendo la renovación celular de las capas superiores de esta a través de la exfoliación. Ayuda frente a la sequedad de la piel, el eczema y la psoriasis, así como también, las verrugas, la piel áspera y la rosácea. Restructura el colágeno profundamente y aumentar la circulación sanguínea, produce una mayor elasticidad de los tejidos y una mejora de la estructura cutánea, la firmeza y las arrugas. Activa el colágeno y ayuda a eliminar las arrugas y la flacidez. La piel se vuelve más tersa y suave. ¡Es el lifting sin cirugía!</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Acido%20Glicolico%20y%20Radiofrecuencia%20Facial%20-%206%20Sesiones%20(3%20y%203)*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden pt-3 px-5" id="micropigmentación" role="tabpanel" aria-labelledby="micropigmentación-tab">
        <div class="md:flex md:flex-row md:flex-wrap">
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion1.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1900</span>
                        <h2>$990</h2>
                        <h4 class="nombre">Full Lips</h4>
                        <p class="block-with-text descripcion">Técnica de micropigmentación que consiste en aplicar pigmento en los labios para darles un aspecto más voluminoso, definido y con un color uniforme.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Full%20Lips*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion2.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1500</span>
                        <h2>$825</h2>
                        <h4 class="nombre">Power Brows</h4>
                        <p class="block-with-text descripcion">Es una técnica avanzada de micropigmentación que ofrece un efecto de sombreado suave y natural, similar al maquillaje en polvo.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Power%20Brows*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion3.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <!-- <span>$1500</span> -->
                        <h2>$2600</h2>
                        <h4 class="nombre">Cejas hibridas</h4>
                        <p class="block-with-text descripcion">Son un servicio de tatuaje semipermanente que combina dos técnicas: el microblading y el powder brows.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Cejas%20hibridas*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion4.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <!-- <span>$1500</span> -->
                        <h2>$2800</h2>
                        <h4 class="nombre">Microblading</h4>
                        <p class="block-with-text descripcion">Es un tratamiento semipermanente que consiste en aplicar pigmento en las cejas para simular pelos y darles un aspecto natural y poblado.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Microblading*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion5.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1300</span>
                        <h2>$715</h2>
                        <h4 class="nombre">Resalte de pestañas</h4>
                        <p class="block-with-text descripcion">Técnica de micropigmentación semipermanente que consiste en realizar un punteado en el nacimiento de las pestañas.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Resalte%20de%20pestañas*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion6.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <!-- <span>$1300</span> -->
                        <h2>$2100</h2>
                        <h4 class="nombre">Softliner</h4>
                        <p class="block-with-text descripcion">Es un procedimiento cuyo efecto es como el de un delineado difuminado, gracias a los minúsculos píxeles con los que se trabaja.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Softliner*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion7.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <!-- <span>$1300</span> -->
                        <h2>$1900</h2>
                        <h4 class="nombre">Delineado clasico</h4>
                        <p class="block-with-text descripcion">Técnica de maquillaje semipermanente por medio de la cual se depositan pigmentos en el párpado, recreando el delineado de ojos.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Delineado%20clasico*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion8.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <!-- <span>$1300</span> -->
                        <h2>$1400</h2>
                        <h4 class="nombre">Línea superior</h4>
                        <p class="block-with-text descripcion">Técnica de maquillaje semipermanente por medio de la cual se depositan pigmentos en el párpado.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Línea%20superior*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/micropigmentacion9.jpg" alt="">
                    </div>
                    <div class="info-servicio">
                        <!-- <span>$1300</span> -->
                        <h2>$1300</h2>
                        <h4 class="nombre">Línea inferior</h4>
                        <p class="block-with-text descripcion">Técnica de maquillaje semipermanente por medio de la cual se depositan pigmentos en el párpado.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Línea%20inferior*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden pt-3 px-5" id="acidoglicolico" role="tabpanel" aria-labelledby="acidoglicolico-tab">
        <div class="md:flex md:flex-row md:flex-wrap">
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/acidoglicolico1.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$2450</span>
                        <h2>$2082</h2>
                        <h4 class="nombre">Acido Glicolico - 7 Sesiones</h4>
                        <p class="block-with-text descripcion">Ayuda a la hiperpigmentación, las quemaduras solares, reduce las líneas de expresión, arrugas, manchas y le devuelve la luminosidad al rostro. El ácido glicólico corrige los problemas de la piel favoreciendo la renovación celular de las capas superiores de esta a través de la exfoliación. Ayuda frente a la sequedad de la piel, el eczema y la psoriasis, así como también, las verrugas, la piel áspera y la rosácea.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Acido%20Glicolico%20-%207%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/acidoglicolico2.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1950</span>
                        <h2>$1657</h2>
                        <h4 class="nombre">Acido Glicolico - 5 Sesiones</h4>
                        <p class="block-with-text descripcion">Ayuda a la hiperpigmentación, las quemaduras solares, reduce las líneas de expresión, arrugas, manchas y le devuelve la luminosidad al rostro. El ácido glicólico corrige los problemas de la piel favoreciendo la renovación celular de las capas superiores de esta a través de la exfoliación. Ayuda frente a la sequedad de la piel, el eczema y la psoriasis, así como también, las verrugas, la piel áspera y la rosácea.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Acido%20Glicolico%20-%205%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-0 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/acidoglicolico3.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1260</span>
                        <h2>$1071</h2>
                        <h4 class="nombre">Acido Glicolico - 3 Sesiones</h4>
                        <p class="block-with-text descripcion">Ayuda a la hiperpigmentación, las quemaduras solares, reduce las líneas de expresión, arrugas, manchas y le devuelve la luminosidad al rostro. El ácido glicólico corrige los problemas de la piel favoreciendo la renovación celular de las capas superiores de esta a través de la exfoliación. Ayuda frente a la sequedad de la piel, el eczema y la psoriasis, así como también, las verrugas, la piel áspera y la rosácea.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Acido%20Glicolico%20-%203%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden pt-3 px-5" id="frecuenciafacial" role="tabpanel" aria-labelledby="frecuenciafacial-tab">
        <div class="md:flex md:flex-row md:flex-wrap">
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/radiofrecuencia1.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1400</span>
                        <h2>$1190</h2>
                        <h4 class="nombre">Radio Frecuencia Facial - 7 Sesiones</h4>
                        <p class="block-with-text descripcion">Restructura el colágeno profundamente y aumentar la circulación sanguínea, produce una mayor elasticidad de los tejidos y una mejora de la estructura cutánea, la firmeza y las arrugas. Activa el colágeno y ayuda a eliminar las arrugas y la flacidez. La piel se vuelve más tersa y suave. ¡Es el lifting sin cirugía!</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Radio%20Frecuencia%20Facial%20-%207%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/radiofrecuencia2.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1100</span>
                        <h2>$935</h2>
                        <h4 class="nombre">Radio Frecuencia Facial - 5 Sesiones</h4>
                        <p class="block-with-text descripcion">Restructura el colágeno profundamente y aumentar la circulación sanguínea, produce una mayor elasticidad de los tejidos y una mejora de la estructura cutánea, la firmeza y las arrugas. Activa el colágeno y ayuda a eliminar las arrugas y la flacidez. La piel se vuelve más tersa y suave. ¡Es el lifting sin cirugía!</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Radio%20Frecuencia%20Facial%20-%205%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-0 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/radiofrecuencia3.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$825</span>
                        <h2>$701</h2>
                        <h4 class="nombre">Radio Frecuencia Facial - 3 Sesiones</h4>
                        <p class="block-with-text descripcion">Restructura el colágeno profundamente y aumentar la circulación sanguínea, produce una mayor elasticidad de los tejidos y una mejora de la estructura cutánea, la firmeza y las arrugas. Activa el colágeno y ayuda a eliminar las arrugas y la flacidez. La piel se vuelve más tersa y suave. ¡Es el lifting sin cirugía!</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Radio%20Frecuencia%20Facial%20-%203%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden pt-3 px-5" id="dermapen" role="tabpanel" aria-labelledby="dermapen-tab">
        <div class="md:flex md:flex-row md:flex-wrap">
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/dermapen1.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$2690</span>
                        <h2>$2450</h2>
                        <h4 class="nombre">Dermapen - 7 Sesiones</h4>
                        <p class="block-with-text descripcion">Sirve para estimular la elastina y el colágeno de forma natural. Por esa razón logra reducir manchas, arrugas, cicatrices o imperfecciones. Ayuda a corregir las imperfecciones de la piel.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Dermapen%20-%207%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/dermapen2.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$2100</span>
                        <h2>$1700</h2>
                        <h4 class="nombre">Dermapen - 5 Sesiones</h4>
                        <p class="block-with-text descripcion">Sirve para estimular la elastina y el colágeno de forma natural. Por esa razón logra reducir manchas, arrugas, cicatrices o imperfecciones. Ayuda a corregir las imperfecciones de la piel.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Dermapen%20-%205%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/dermapen3.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1380</span>
                        <h2>$1010</h2>
                        <h4 class="nombre">Dermapen - 3 Sesiones</h4>
                        <p class="block-with-text descripcion">Sirve para estimular la elastina y el colágeno de forma natural. Por esa razón logra reducir manchas, arrugas, cicatrices o imperfecciones. Ayuda a corregir las imperfecciones de la piel.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Dermapen%20-%203%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden pt-3 px-5" id="reducciondetallas" role="tabpanel" aria-labelledby="reducciondetallas-tab">
        <div class="md:flex md:flex-row md:flex-wrap">
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/talla1.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$3700</span>
                        <h2>$3145</h2>
                        <h4 class="nombre">Reduccion de Tallas - 15 Sesiones</h4>
                        <p class="block-with-text descripcion">Método no invasivo que consiste en la reducción de pliegues cutáneos, las cuales consisten en calentar el tejido para la licuefacción de la grasa, con lo que se rompen los enlaces y se puede eliminar a través del sistema linfático. Moldea el cuerpo y reduce la celulitis que es producto del exceso de grasa acumulada en el cuerpo.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Reduccion%20de%20Tallas%20-%2015%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/talla2.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$2800</span>
                        <h2>$2380</h2>
                        <h4 class="nombre">Reduccion de Tallas - 10 Sesiones</h4>
                        <p class="block-with-text descripcion">Método no invasivo que consiste en la reducción de pliegues cutáneos, las cuales consisten en calentar el tejido para la licuefacción de la grasa, con lo que se rompen los enlaces y se puede eliminar a través del sistema linfático. Moldea el cuerpo y reduce la celulitis que es producto del exceso de grasa acumulada en el cuerpo.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Reduccion%20de%20Tallas%20-%2010%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-0 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/talla3.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$2310</span>
                        <h2>$1963</h2>
                        <h4 class="nombre">Reduccion de Tallas - 7 Sesiones</h4>
                        <p class="block-with-text descripcion">Método no invasivo que consiste en la reducción de pliegues cutáneos, las cuales consisten en calentar el tejido para la licuefacción de la grasa, con lo que se rompen los enlaces y se puede eliminar a través del sistema linfático. Moldea el cuerpo y reduce la celulitis que es producto del exceso de grasa acumulada en el cuerpo.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Reduccion%20de%20Tallas%20-%207%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-0 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/talla4.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <span>$1850</span>
                        <h2>$1572</h2>
                        <h4 class="nombre">Reduccion de Tallas - 5 Sesiones</h4>
                        <p class="block-with-text descripcion">Método no invasivo que consiste en la reducción de pliegues cutáneos, las cuales consisten en calentar el tejido para la licuefacción de la grasa, con lo que se rompen los enlaces y se puede eliminar a través del sistema linfático. Moldea el cuerpo y reduce la celulitis que es producto del exceso de grasa acumulada en el cuerpo.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Reduccion%20de%20Tallas%20-%205%20Sesiones*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden pt-3 px-5" id="nanoplastia" role="tabpanel" aria-labelledby="nanoplastia-tab">
        <div class="md:flex md:flex-row md:flex-wrap">
            <div data-aos="zoom-in" class="md:p-2 w-full md:w-[50%] lg:w-[33%] mt-5 md:mt-3 lg:mt-2">
                <div class="card-servicio">
                    <div>
                        <img src="/img/nanoplastia1.webp" alt="">
                    </div>
                    <div class="info-servicio">
                        <!-- <span>$500</span> -->
                        <h2>$1200 a $3800</h2>
                        <small>El precio depende del largo del cabello.</small>
                        <h4 class="nombre">Nanoplastia</h4>
                        <p class="block-with-text descripcion">Es un alisante progresivo con control de frizz, hidratación a profundidad, regenera la fibra capilar, proporcionando elasticidad y brillo el cual realiza un alisado del 90% al 100% y lo mantiene liso de 4 a 6 meses.</p>
                        <div class="btn-group mt-5">
                            <button class="btn1 btn_detalle" data-tooltip-target="tooltip-animation" onclick="my_modal_3.showModal()"><Icon name="heroicons:eye" /></button>
                            <div id="tooltip-animation" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Conocer mas
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <a class="btn2" href="https://wa.me/7201844426?text=Hola,%20me%20gustaría%20agendar%20una%20cita%20para:%20*Nanoplastia*" target="_blank">Agenda Cita</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- Main modal -->
<dialog id="my_modal_3" class="modal modal-bottom sm:modal-middle">
	<div class="modal-box">
		<form method="dialog">
		<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		</form>
		<div id="detalle_box">            
        </div>
	</div>
	</dialog>

<style>
    .block-with-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
    .tabs-mod {
		height: auto;
		overflow: scroll;
		display: flex;
		align-items: center;
		justify-content: start;
		flex-wrap: nowrap;
	}	
    .tabs-mod li button {
		border: solid 1px #95d2b3;
		padding: 10px 20px;
		border-radius: 999px;
		color: #95d2b3;
		transition: all 0.2s ease;
		white-space: nowrap;
	}
	.tabs-mod li button.active {
		background-color: #95d2b3;
		padding: 10px 20px;
		border-radius: 999px;
		color: #fff;
	}
    .card-servicio {
		height: auto;
		border-radius: 16px;
		background-color: #fff;
		box-shadow: 0px 0px 20px 5px #f3f3f3;
	}
	.card-servicio img {
		border-radius: 16px 16px 0px 0px;
        width: 100%;
        height: 160px;
        object-fit: cover;
	}
	.info-servicio {
		padding: 15px;
	}
	.info-servicio span {
		color: #95d2b3;
		opacity: 0.8;
		text-decoration: line-through;
	}
	.info-servicio h2 {
		color: #95d2b3;
        font-size: 30px;
        font-weight: 500;
	}
    .info-servicio h4 {
		color: #252422;
        font-size: 20px;
        font-weight: 500;
	}
    .info-servicio p {
		color: #252422;
        font-size: 14px;
        font-weight: 300;
	}
    .info-servicio .btn-group {
		display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
	}
    .info-servicio .btn-group .btn1 {
        border-radius: 999px;
        border: solid 1px #95d2b3;
        width: 40px;
        height: 40px;
        padding: 7px;
        color: #95d2b3;
    }
    .info-servicio .btn-group .btn2 {
        border-radius: 999px;
        background-color: #95d2b3;
        height: 40px;
        color: #fff !important;
        font-size: 15px;
        font-weight: 300;
        padding-inline: 12px;
        color: #95d2b3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button, a {
        transition: all 0.2s ease-in-out !important;
    }
    button:active, a:active {
        transform: scale(0.95) !important;
    }
</style>

<script>
    let tabs = document.querySelectorAll('#default-tab > li > button');

    tabs.forEach(element => {
        
        element.addEventListener('click' , () => {

            tabs.forEach(element => {
                element.classList.remove('active');
            });

            element.classList.add('active');

        })
        
    });

    let btns_detalle = document.querySelectorAll('.card-servicio');
    let box_detalle = document.getElementById('detalle_box');

    btns_detalle.forEach(element => {        

        element.addEventListener('click', () => {

            let titulo = element.querySelector('.nombre').textContent;
            let descripcion = element.querySelector('.descripcion').textContent;

            box_detalle.innerHTML = '';
            
            box_detalle.innerHTML = `
            <h3 class="text-lg font-bold">${titulo}</h3>
            <p class="py-4">${descripcion}</p>
            `;
            
        });
    });


</script>