---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '@fontsource-variable/lexend';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Ofrecemos tratamientos de belleza facial y corporal. Mejora tu apariencia con reducción de talla, nanoplastia y cuidados estéticos personalizados. Reserva tu sesión y luce radiante hoy mismo." />
		<meta name="keywords" content="Reducción de talla, Nanoplastia capilar, Tratamientos de belleza corporal, Cuidado facial personalizado, Servicios estéticos no invasivos, Belleza corporal y facial, Tratamientos reductores, Mejorar la apariencia corporal, Cuidado de la piel, Tratamientos de rejuvenecimiento, Tratamientos estéticos, Piel radiante y saludable, Belleza sin cirugía, Reducción de medidas corporales, Nanoplastia sin formol.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/esme-logo.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	html {
		font-family: 'Lexend Variable';
		background: #F5F5F7 !important;
		scroll-behavior: smooth;
	}
</style>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-3W6N035QCF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3W6N035QCF');
</script>